{% extends 'characters/base.html' %}
{% load static %}


<body>

    {% block content %}

    <form action={% url "agregarPersonaje" %} method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <label for="nombre">Nombre</label><br>
                    <input type="text" name="nombre" value="{{Personaje.nombre}}" class="form-control"> <br>

                    <label for="cumpleaños" class="form-label">Cumpleaños</label>
                    <input type="text" name="cumpleaños" value="{{Personaje.cumpleaños}}"class="form-control"><br>

                    <label for="edad">Edad</label><br>
                    <input type="number" name="edad" value="{{Personaje.edad}}" class="form-control"><br>

                    <label for="region" class="form-label">Region</label>
                    <input type="text" name="region" value="{{Personaje.region}}"class="form-control"><br>

                    <label for="vision" class="form-label">Visión</label>
                    <input type="text" name="vision" value="{{Personaje.vision}}"class="form-control"><br>
                    
                    <label for="afiliacion" class="form-label">Afiliación</label>
                    <input type="text" name="afiliacion" value="{{Personaje.afiliacion}}"class="form-control"><br>

                    <label for="constelacion" class="form-label">Constelación</label>
                    <input type="text" name="constelacion" value="{{Personaje.constelacion}}"class="form-control"><br>

                    <label for="genero">Género:</label>
                    <select name="genero" value="{{Personaje.genero}}">
                        <option value="Seleccionar" disabled>Seleccionar</option>
                        <option value="Masculino">Masculino</option>
                        <option value="Femenino">Femenino</option>
                    </select>
                    <br>
                    <br>

                    <label for="foto" class="form-label">Imagen</label>
                    <input class="form-control" type="file" name="foto" value="{{Personaje.genero}}">
                    <br>

                    <button type="submit" class="btn btn-primary" name="opcion" value="Actualizar">Actualizar</button>
                    <button type="submit" class="btn btn-primary" name="opcion" value="Editar">Editar</button>
    </form>
    
    <div id="idMensajes">

        {%if mensaje %}

            {{mensaje}}
        {%endif%}
    </div>

                </div>
            </div>
        </div>

        {% endblock %}
</body>
</html>