{%extends 'characters/base.html'%}
{% load static %}

<body>
    {% block content %}
    <br>
    <br>
    <br>


    <div class = "container">


        <h2>Benjamin Mella</h2>
        <img src="{% static '/media/fotos/5232d85c01cea51151221a222b5abd3a.png' %}" width="300px" alt="My image">

        <br>
        <br>
        <h2>Giovanni Romero</h2>
        <img src="{% static '/media/fotos/imageGioro.png' %}" width="300px" alt="My image">

        

        
    </div>


    {%endblock%}
</body>

