<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<body>

    <form action={% url "characterAdd" %} method="post">
        {% csrf_token %}

        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <label for="CharacterID" class="form-label">ID</label> <br>
                    <input type="text" name="characterID" value="{{chara.characterID}}" class="form-control" readonly> <br>

                    <label for="nombre">Nombre</label><br>
                    <input type="text" name="nombre" value="{{chara.nombre}}" class="form-control"> <br>

                    <label for="edad">Edad</label><br>
                    <input type="number" name="edad" value="{{chara.edad}}" class="form-control"><br>

                    <label for="alturas" class="form-label">Altura</label>
                    <input type="number" name="altura" value="{{chara.altura}}"class="form-control"><br>

                    <label for="region" class="form-label">Region</label>
                    <input type="text" name="region" value="{{chara.region}}"class="form-control"><br>

                    <label for="vision" class="form-label">Visión</label>
                    <input type="text" name="vision" value="{{chara.vision}}"class="form-control"><br>

                    <label for="jugable" class="form-label">¿Es Jugable?</label>
                    <input type="text" name="jugable" value="{{chara.jugable}}"class="form-control"><br>

                    <label for="afiliacion" class="form-label">Afiliación</label>
                    <input type="text" name="afiliacion" value="{{chara.afiliacion}}"class="form-control"><br>

                    <label for="cumpleaños" class="form-label">Cumpleaños</label>
                    <input type="text" name="cumpleaños" value="{{chara.cumpleaños}}"class="form-control"><br>

                    <label for="constelacion" class="form-label">Constelación</label>
                    <input type="text" name="constelacion" value="{{chara.constelacion}}"class="form-control"><br>

                    <button type="submit" class="btn btn-primary" name="opcion" value="Actualizar">Actualizar</button>
                    <button type="submit" class="btn btn-primary" name="opcion" value="Editar">Editar</button>
    </form>
    
    <div id="idMensajes">

        {%if mensaje %}

            {{mensaje}}
        {%endif%}
    </div>

                </div>
            </div>
        </div>

</body>
</html>